.home{
   display: flex;
   .homeContainer{
      width: 81%;
      background:#F7F8FA;
    
      .cards{
      display: flex;
      overflow-x: scroll;
      overflow: hidden;
    }
    .transaction-info{
       margin-left: 30px;
       width: 92%;
       display: flex;
    }
   }

}